body {
    position: relative;
    background: grey;
    font-family: 'Quicksand', sans-serif;
    color: lightgrey;
    text-align: center;
}

.wrap {
    color: darkorange;
    padding: 40px;
    display: flex;
    position: fixed;
    font: bold italic 40px serif;
}

img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 1023px;
    height: 682px;
}